<div class="container my-5">
    <h1 class="mb-3">Add New Roaster</h1>

    <div class="row">
        <div class="col-6">
            <form class="row g-3" #form="ngForm" (ngSubmit)="addRoaster()">
                <div class="col-md-6">
                  <label class="form-label">FirstLine</label>
                  <input type="text" class="form-control" id="firstLine" 
                  name="firstLine" [(ngModel)]="addRoasterRequest.firstLine">
                </div>
                <br>
                <div class="col-1">
                </div>
                <div class="col-md-6">
                  <label  class="form-label">SecondLine</label>
                  <input type="text" class="form-control" id="secondLine" 
                  name="secondLine" [(ngModel)]="addRoasterRequest.secondLine">
                </div>
                <div class="col-1">
                </div>
                <div class="col-md-6">
                  <label class="form-label">Support Start Date</label>
                  <div class="md-form" id="SupportDate">
                    <input type="date" id="SupportDate" class="form-control" 
                    name="supportDueDate" [(ngModel)]="addRoasterRequest.supportDueDate">
                  </div>
                </div>
                <div class="col-1">
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
        </div>
    </div>
    
</div>
